<!-- ! + tab -->
<!-- Link the style sheet -->
<!-- Link the javascript -->
<!-- Grab bootstrap CDN -->


<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<!-- Page Title -->
    <title>PlantBot</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest bootstrap compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- PlantBot reset css should go first or it will override -->
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <!-- PlantBot css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    
	</head>
	<body>
	<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="home.html"><img alt="PlantBot" src="/images/leaf-icon.png" width="80 px" height="80 px">
                </a><h1>PlantBot</h1>
            </div>
        </div>
    </nav>
		{{{ body }}}

<!DOCTYPE html>
<html lang="en">

<head>
    
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<body>
    <div class="container, row">
        <h1>Musician Search</h1>
        <!-- Rendered buttons will get dumped Here  -->
        <div id="buttons-view"></div>
        <form id="musician-form">
            <label for="musicianAdd">Add a musician</label>
            <input type="text" id="musicianAdd">
            <br>
            <!-- Button triggers new musician to be added -->
            <input id="add-musician" type="submit" value="Add a musician">
        </form>
        <!-- Show musician giphs -->
        <div id="musician-view"></div>
        <!-- <img src="http://media1.giphy.com/media/3o85xkQpyMlnBkpB9C/200_s.gif" data-still="http://media1.giphy.com/media/3o85xkQpyMlnBkpB9C/200_s.gif" data-animate="http://media1.giphy.com/media/3o85xkQpyMlnBkpB9C/200.gif" data-state="still" class="gif"> -->
        <footer>
            Copyright &copy; 2017 Sharon Oud, Karin Rimstidt, Elizabeth Baskin. All Rights Reserved.
        </footer>
        


	

    
	</body>
	<!-- link to PlantBot java -->
    <script type="text/javascript" src="../javascript/plantbot.js"></script>
</html>
