    <div class="container, row">
        <h1>Plant Search Results</h1>
        <!-- Rendered buttons will get dumped Here  -->
        <div id="common"></div>
        <div id="botanical"></div>
        <div id="cultivar"></div>
        <div id="water"></div>
        <div id="light"></div>
        <div id="soilType"></div>
        <div id="Info"></div>
        <div id="image"></div>
      
        



// Storing the rating data and Creating an element to have the rating displayed
                    var rating = $("<p>").text("Rating: " + results[i].rating);
                    // Displaying the rating
                    musicianDiv.append(rating);
                    // Putting the entire movie above the previous movies
                    $("#musician-view").prepend(musicianDiv);